body {
  margin: 0;
  background-color: rgb(199 209 255);
}
.heading {
  color: #2957db;
  font-size: 2.5rem;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

header div {
  margin: 1%;
}

header input {
  font-size: large;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  padding: 2% 0 2% 3%;
  outline: none;
}

.submit-book {
  background-color: #2957db;
  color: white;
  border-radius: 12em;
  padding: 0.5% 1%;
  border: none;
}

.submit-book:hover {
  background-color: #204abb;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 2%;
}

th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}

thead {
  background: #395870;
  color: #fff;
}

th:first-child {
  text-align: left;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}

td:first-child {
  border-left: 1px solid #cecfd5;
}

.dlt-btn {
  background-color: #2957db;
  color: white;
  padding: 20%;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}

.dlt-btn:hover {
  background-color: #204abb;
}
